header{
  background-color: #fafafa;
  position: fixed;
  z-index: 999;
}

header .material-icons{
  color: #495057;
  cursor: default;
}
.btn-circle{
  border-radius: 100% 100% !important;
}

.messages p{
  font-family: inherit;
  font-size: 14px;
  margin-bottom: 0 !important;
  overflow-x: hidden;
  word-break: break-word;
}

.messages img{
  border-radius: 50% 50%;
  width: 54px;
}

.messages .msg-username{
  font-size: 16px;
}

.tiles{
  cursor: default;
  height: 150px;
  margin-top: 60px;;
  width: 300px;
}
.tile-user{
  background-color: #E69138;
}
.tile-book{
  background-color:  #3D85C6;
}
.tile-loan{
  background-color: #674EA7;
}
.tiles-text{
  margin-bottom: 0 !important;
}

.tile-br{
  background-color: #3c7d26;
}
.tile-bn{
  background-color: #DF7E2B;
}

.lateral-menu{
  background-color:  #222325;
  color: aliceblue;
  height: 100%;
  display: block;
  margin: 50px 0 0 -15px; 
  position: fixed;
  width: 200px;
  z-index: 999;
}

.lateral-menu a {
  text-decoration: none;
}

.lateral-menu li{
  list-style: none;
}

.btn-author span.material-icons{
  right: 5px;
  position: relative; 
  top: 5px; 
} 

#cover-preview{
	background-image: url("../media/images/system/default-cover-book.png");
	background-size: cover;
	border: 1px black solid;
	height: 200px;
	width: 150px;
}

#user-pic{
	background-image: url("../media/images/system/default-user.png");
	background-size: cover;
	border: 1px black solid;
	height: 150px;
	width: 150px;
}
