header{
  background-color: #fafafa;
  position: fixed;
  z-index: 999;
}

header .material-icons{
  color: #495057;
  cursor: default;
}

#p404{
  
  color: #fafafa;
  font-weight: bold;
  font-size: 2em;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow: 4px 4px 4px #000000;
} 
#img404{
  background-image: url("../media/images/system/404.png");
  background-size: contain ;
  background-repeat: no-repeat; 
  background-position: center;
  height: 600px;
}
.btn-circle{
  border-radius: 100% 100% !important;
}

.messages p{
  font-family: inherit;
  font-size: 14px;
  margin-bottom: 0 !important;
  overflow-x: hidden;
  word-break: break-word;
}

.messages img{
  border-radius: 50% 50%;
  width: 54px;
}

.messages .msg-username{
  font-size: 16px;
}

.tiles{
  cursor: default;
  height: 150px;
  margin-top: 60px;;
  width: 300px;
}
.tile-user{
  background-color: #E69138;
}
.tile-book{
  background-color:  #3D85C6;
}
.tile-loan{
  background-color: #674EA7;
}
.tiles-text{
  margin-bottom: 0 !important;
}

.tile-br{
  background-color: #3c7d26;
}
.tile-bn{
  background-color: #DF7E2B;
}
/*
 * Lateral menu compact
 */
.lateral-menu{
  background-color:  #31353D;
  color: aliceblue;
  height: 100%;
  display: block;
  margin: 50px 0 0 -15px; 
  position: fixed; 
  width: 210px;
}  

.lateral-menu hr{
  margin: 0.8rem 0 0.8rem 0;
}

.lateral-header{
  align-items: center;
  vertical-align: top;
  display: flex;
  font-size: 15px;
  margin: 15px 0 0 10px;
  opacity: 0.6;
  cursor: pointer;
}
.lateral-header:hover{
  opacity: 1;
  transition: all 0.3s ease-out;
}
.lateral-menu #img-profile{
  border-radius: 5px 5px;
  height: 40px;
  margin-right: 5px;
  width: 40px;
}
.lateral-menu a {
  text-decoration: none;
  color: #ffffff; 
}
.lateral-menu li:hover,.lateral-menu a:hover {
  color: rgb(116, 192, 255); 
  font-size: 17px; 
  transition: all 0.3s ease-out; 
  opacity: 1;
} 
.lateral-menu a:hover i.material-icons{
  text-shadow: 0px 0px 10px rgb(131, 131, 131);
}
.menu-button{
  border: 1px solid rgb(183, 188, 189);
  border-radius: 5px;
  height: 26px;
  margin-right: 1px;
  transition: all 0.3s ease-out; 
  position: relative;
  top: -10px !important;
  width: 40px;
}

.lateral-menu li{
  list-style: none; 
  opacity: 0.5;
}
.lateral-menu span i.material-icons{
  position: relative;
  top: 4px;
}
.lateral-menu ul{
  padding-inline-start: 15px !important;
} 
.lateral-menu ul.collapse{
  padding: 5px !important; 
}  
/***/

.btn-author span.material-icons{
  right: 5px;
  position: relative; 
  top: 5px; 
} 

#cover-preview{ 
	background-size: cover;
	border: 1px black solid;
	height: 200px;
	width: 150px;
}

#user-pic{
	background-image: url("../media/images/system/default-user.png");
	background-size: cover;
	border: 1px black solid;
	height: 150px;
	width: 150px;
}


/*
 * Select simulator for search
 */
 .container-select-simulator {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

.selected-s {
  border: thin solid rgb(212, 211, 211); 
  background: white;
  border-radius: 4px;
  color: #495057;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 2.5em;
  margin-bottom: .2em;
  padding: .9em;
  min-width: 150px;
  position: relative;
}

.selected-s:after { 
  content: "\f0d7";
  margin-left: 1em;
  position: absolute;
  right: .5em;
}

.container-options {
  display: none;
  margin: 0;
  padding: 0;
  background: white;
  border: thin solid rgb(212, 211, 211); 
  border-radius: 1px;  
  width: 100%;
  padding: 0.2em;
}

.container-options .search {
  width: 100%;
  border: 1px solid darkgray;
  border-radius: 5px;
}

.container-options .options {
  padding: 0.3em;
  max-height: 200px;
  margin-top: 4px;
  overflow-y: auto;
  overflow-x: hidden;
}

.container-options.open {
  display: inline-block;
}

li.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
li.option:hover {
  background-color: rgb(94, 94, 252);
  border: 1px solid rgb(34, 34, 34);
  color: white; 
}
li.search {
  padding: 0.5rem 0;
}

li>img {
  margin-right: 1em;
}
.img-banner{
  background-size: contain ;
  background-repeat: no-repeat; 
  background-position: right;
  height: 150px;
}

#main-img{
  background-image: url("../media/images/system/index.png");
 
}
#books-img{
  background-image: url("../media/images/system/book.png");
}
#loans-img{
  background-image: url("../media/images/system/loan.png");
}
#users-img{
  background-image: url("../media/images/system/users.png");
}
#main-news{
  background-color: #eeeeee;
  border-radius: 10px;
}
.book-list{
  padding: 0 !important;
}
.book-list p { 
  font-size: 14px;
  margin-bottom: 0 !important;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.icons-users{
  color: #6b6a6a; 
}
.icons-users p{
  margin-bottom: 0 !important;
}
.icons-users .material-icons{
  font-size: 15px; 
  position: relative;
  right: 2px;
  top: 2px;
}